* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: Poppins !important;
}

.content-img {
    background-image: url(../img/contact-img/f738cc270ea7346188b76484e3f2cf12.png);
}

.container {
    margin-top: 111px;
}

.letter {
    .main-letter {
        font-size: 27.65px;
    }
    .sub-letter {
        font-size: 16px;
    }
}

.map {
    margin-bottom: 20px;
}

.feedback-form {
    .input-form {
        font-size: 16px;
    }
    .btn {
        width: 81px;
        height: 39px;
        margin-top: 15px;
        margin-bottom: 105px;
        border-radius: 8px;
        color: #ffffff;
        background-color: #43b97f;
    }
}

.form-label:after {
    content:" *";
    color: red;
}

.col-contents {
    text-align: right;
}

.phone-number {
    font-size: 68.8px;
}


